html {
  font-family: Arial, Helvetica, sans-serif;
}

main {
  margin: 0 20em;
}

.candidate-fullname {
  font-size: 3em;
  color: #2343ad;
}

.candidate-profile {
  display: flex;
  justify-content: space-between;
}

.candidate-profile-info {
  display: flex;
}

.candidate-info {
  flex: 0 1 80%;
}

.candidate-avatar {
  flex: 0 1 20%;
}

.candidate-info-label {
  flex: 0 1 20%;
  font-weight: 600;
}

.candidate-info-content {
  flex-basis: 0 1 80%;
}

.section-heading {
  font-weight: 600;
  font-size: 1.5em;
  border-bottom: 2px solid black;
}

.career-path-purpose-content {
  margin-top: 2em;
}

.education,
.work,
.cert,
.skill,
.activity {
  display: flex;
}

.cert,
.skill,
.work,
.education {
  border-bottom: 1px solid #cccccc;
}

.time-range,
.cert-received-year,
.skill-name {
  flex: 0 1 20%;
}

.education-details,
.work-details,
.activity-details {
  flex: 0 1 80%;
  display: flex;
  flex-direction: column;
}

.university-name,
.company-name,
.skill-name,
.cert-name {
  font-weight: 600;
}

.candidate-profile,
.career-path-purpose,
.education-experience,
.work-experience,
.activity-experience,
.skill-experience,
.certs,
.favourite-section,
.project-section {
  margin: 3rem 0;
}

.project-point-note {
  font-weight: 600;
}

.project-name {
  margin-bottom: 0.25em;
}
